
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My Car List</a>
    </div>
  </nav>
</div>
<div class="container">
<ul>
  <% @cars.each do |car| %>
    <li><%= link_to car.name, car_path(car)  %></li>
  <% end %>
</ul>
</div>

<table>
  <% @cars.each do |car| %>
    <tr>
      <td><%= link_to car.name, car_path(car) %></td>
      <td><%= button_to 'Edit', edit_car_path(car), method: 'get'%></td>
      <td><%= button_to 'Remove', car_path(car), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</table>
<%= link_to "Add a New CAR", new_car_path %>
